DEFAULT live
TIMEOUT 50
PROMPT 0

UI menu.c32
MENU TITLE LinuxOSZero v1.0.0 Genesis (x86_64)

LABEL live
  MENU LABEL LinuxOSZero Live Desktop (VirtualBox VMSVGA)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img quiet splash vboxguest.modeset=1

LABEL install
  MENU LABEL Install LinuxOSZero to Hard Disk
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img quiet zero-install=1

LABEL safe
  MENU LABEL LinuxOSZero (Safe Graphics VESA)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img nomodeset vga=791

LABEL rescue
  MENU LABEL LinuxOSZero Rescue Mode
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img single
